extends BASE.pug

block main 
    section#chat
        div.chat-sizer
            div.chat-sizer_area
                header 채팅방
                header
                    a(href="") 생성하기
                div.chat-displayer
                    div.chat_room
                        div
                            span 채팅방 이름
                            span 14시 11분
                            span 2022-02-04
                        div
                            span 공개방 / 비밀방
                            span 최대 인원수
                            span 제작자
                        button 입장하기
                    div.chat_room
                        div
                            span 채팅방 이름
                            span 14시 11분
                            span 2022-02-04
                        div
                            span 공개방 / 비밀방
                            span 최대 인원수
                            span 제작자
                        button 입장하기
                div.chat_text_length
                    span 0
                    span /
                    span 100 자
                div.chat_input
                    textarea(maxLength=100)
                    button(type="button") 보내기
    script(src="/assets/js/socketLength.js")