@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&display=swap');

/* Components */
@import "./components/nav.css";
@import "./components/main.css";

@import "./screens/user-form.css";
@import "./screens/user-list.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    border: none;
    background-color: transparent;
}
svg {
    width: 22px;
}