@import "../_root.css";

#form {
    width: 100%;
    height: calc(100vh - var(--nav-height-));

    display: flex;
    align-items: center;
    justify-content: center;
}
.form-sizer {
    width: calc(var(--responsive-width-) / 2 );

    border: 1px solid black;
    padding: 30px;
}
.form-display {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.form-display > header {
    font-size: var(--join-header-size-);
    font-weight: 500;
    text-align: center;
    grid-column: span 6;
}
.form-display > label {
    grid-column: span 2;
}
.form-display > input {
    font-size: var(--join-font-size-);
    grid-column: span 4;
}
.form-display > button[type="submit"] {
    font-size: var(--join-font-size-);
    grid-column: 3/-3;
}
.form-display > span {
    grid-column: 1/-1;
}
.form-display > header {
    text-align: center;
}
.form-display > button {
    grid-column: span 3;
    
    font-weight: 300;
    transition: all 0.15s linear;
}
.form-display > button:hover {
    font-weight: 600;
}

/* profile.pug */
.form_craeted {
    text-align: center;
}