nav#nav
    div.nav-sizer
        div.nav-display
            div.nav_column
                if loggedIn
                    a(href="/posts/write").nav_linkers 글쓰기
                a(href="/posts/").nav_linkers 글리스트
            div.nav_column
                a(href="/").nav_logo WEB!
            div.nav_column
                if !loggedIn
                    a(href="/users/login").nav_linkers 로그인
                    a(href="/users/join").nav_linkers 회원가입
                else
                    a(href="/users/logout").nav_linkers 로그아웃
                    a(href=`/users/${loggedInUser._id}`).nav_linkers
                        strong #{loggedInUser.userid}
                a(href="/users").nav_linkers 유저리스트