nav#nav
    div.nav-sizer
        div.nav-display
            div.nav_column
                a(href="#").nav_linkers 게시글 쓰기
                a(href="#").nav_linkers 게시글 검색
                a(href="#").nav_linkers 유저 검색
            div.nav_column
                a(href="#").nav_logo WEB!
            div.nav_column
                a(href="#").nav_linkers 로그인
                a(href="#").nav_linkers 회원가입