nav#nav
    div.nav-sizer
        div.nav-display
            div.nav_column
                a(href="/content/post").nav_linkers 글쓰기
                a(href="/search").nav_linkers 검색
            div.nav_column
                a(href="/").nav_logo WEB!
            div.nav_column
                a(href="/login").nav_linkers 로그인
                a(href="/join").nav_linkers 회원가입